<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <title>Mysic</title>

    <meta property="og:title" content="Mysic" />
    <meta property="og:description" content="私の音楽を世界に♪" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= root_url + 'Mysic_ogp.png' %>" />

    <meta name="twitter:card" content="summary_large_image" />
  </head>

  <body>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
